/.idea/
/**/target/
/bin/
/node/
/node_modules/
/dist/
/dist-ng2/
*.iml
*.class
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/sonarlint.json
/.sonarlint/
/.tmp/
/spec/generated/
/sdk/
/package-lock.json